<div class="row dashboard">
    <div class="col-sm-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><%= link_to 'Overview', dashboard_path %></li>
            <li><%= link_to 'Settings', dashboard_settings_path %></li>
            <li class="active"><%= link_to 'API', dashboard_api_path %></li>
        </ul>
    </div>
    <div class="col-sm-10">
        <h1>Dashboard for <%= @user.name %></h1>
        <hr>
        <%= render 'api_data' %>
    </div>
</div>