<div class="row dashboard">
    <div class="col-sm-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><%= link_to 'Overview', dashboard_path %></li>
        </ul>
    </div>
    <div class="col-sm-10">
        <h1>Dashboard for <%= @user.name %></h1>
        <hr>
        <h2>
            Teams
            <%= link_to new_team_path, remote: true, class: "btn btn-success btn-circle btn-sm" do %>
                <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </h2>
        <%= render 'team_table' %>
        </div>
    </div>
</div>

<%= render 'dashboard_modal' %>