<% if @found_images.present? %>
    <%= render partial: 'search/images', collection: @found_images, as: :image %>
<% else %>
    <%= render partial: 'search/nothing_found' %>
<% end %>
<div class="row">
  <% @found.each do |x| %>
      <div class="search_result col-md-3">
        <%= link_to x do %>
          <object data=<%= x %> type="image/gif">
            <%= image_tag x %>
          </object>
        <% end %>
      </div>
  <% end %>
</div>
